@{
    Layout = "";
    PayCartOnline.Models.CheckUser isCheck = Session["Account"] != null ? (PayCartOnline.Models.CheckUser)Session["Account"] : null;

}
<!DOCTYPE html>
<html style="padding-top: 0px;">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, shrink-to-fit=no, initial-scale=1,maximum-scale=1,user-scalable=false,maximum-scale=1">
    <title>Th&#244;ng tin t&#224;i khoản</title>
    <link rel="shortcut icon" type="image/png" href="/favicon.ico" />
    <link rel="stylesheet" href="https://vtcpay.vn/content/css/bootstrap.min.css">
    <link href="https://vtcpay.vn/content/css/style_all.css" rel="stylesheet" type="text/css" />
    <link href="https://vtcpay.vn/Content/js/plugins/datetimepicker/bootstrap-datetimepicker.css" rel="stylesheet" />
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700&subset=vietnamese" rel="stylesheet">
    <link href="https://vtcpay.vn/content/css/bootstrap-select.min.css" rel="stylesheet" type="text/css" />
    <link href="https://vtcpay.vn/content/old_css/simple-sidebar.css" rel="stylesheet" type="text/css" />
    <script type="text/javascript" src="https://vtcpay.vn/content/js/jquery-1.9.1.min.js"></script>
    <script type="text/javascript" src="https://vtcpay.vn/content/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="https://vtcpay.vn/content/js/lib/jquery.cookie.js"></script>
    <script type="text/javascript" src="https://vtcpay.vn/content/js/lib/client-custom.min.js"></script>
    <script type="text/javascript" src="https://vtcpay.vn/content/js/lib/i18next-1.6.3.min.js"></script>
    <script type="text/javascript" src="https://vtcpay.vn/content/js/lib/bootbox.min.js"></script>
    <script type="text/javascript" src="https://vtcpay.vn/Content/js/plugins/datetimepicker/moment.js"></script>
    <script type="text/javascript" src="https://vtcpay.vn/Content/js/plugins/datetimepicker/bootstrap-datetimepicker.js"></script>
    <script type="text/javascript" src="https://vtcpay.vn/content/js/lib/bootstrap-select.js"></script>

</head>
<body class="show_all" style="padding-top: 0px;">



    <div class="header_admin">
        <a href="" class="logo_admin">
            <span class="logo_admin_small"><img src="https://vtcpay.vn/Content/images/logo_small.png" alt=""></span>
            <span class="logo_admin_big">
                <img src="https://vtcpay.vn/Content/images/logo-pay/vtcpay-v-blue-tet.svg" width="200" alt="">
            </span>
        </a>
        <div class="menu_top_admin">
            <a href="https://vtcpay.vn/" class="logo_admin_left_ud hidden-lg hidden-md">
                <span class="logo_admin_small"><img src="https://vtcpay.vn/Content/images/logo_small.png" alt=""></span>
                <span class="logo_admin_big"><img src="https://vtcpay.vn/Content/Images/vtcpay.svg" width="120" alt=""></span>
            </a>
            <a href="javascript:void(0);" class="btn_thugon_menu_admin"><span></span></a>
            <div id="header_title" class="hidden-xs" style="position: absolute;top: 10px;left: 80px;width: 50%;"></div>
            <div class="menu_right_top_admin">
                <ul class="list_menu_phai dang-nhap">

                    <!--Box thông báo load ajax sau-->
                    <li class="list_thongbao_tin">
                        <a href="javascript:void(0);"><img src="https://vtcpay.vn/content/images/icon_chuong.png"></a>
                    </li>
                    <li class="info_user">
                        <a href="javascript:void(0);">
                            <div class="box_thumb_ava"><img src="https://vtcpay.vn/Content/images/df_avt.png" alt="" style="max-width: 100%; height: 40px;"></div>
                            <div class="box_noidung_ava">
                                <span>
                                    @if (Session["Account"] != null)
                                    {
                                        @isCheck.Phone
                                    }
                                    else
                                    {
                                        <span>Lỗi đăng nhập</span>
                                    }

                                </span>
                                <em>0 VND</em>
                            </div>
                        </a>
                        <!--Box thông tin người dùng load ajax sau-->
                        <div class="box_show_info_user" style="display: none;">

                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>

    <div class="menu_left_admin">
        <ul class="list_menu_left_admin" id="accordion">
            <li>
                <a href="">
                    <i class="icon_list_menu_left_admin icon_menu_left_1"></i>
                    <span>Trang chủ</span>
                </a>
            </li>
            <li class="panel">
                <a data-toggle="collapse" data-parent="#accordion" href="#collapse1" class="collapsed">
                    <i class="icon_list_menu_left_admin icon_menu_left_2"></i>
                    <span>Tài khoản</span>
                    <img src="" alt="">
                    <i class="icon_drop_list_menu_left_admin"></i>
                </a>
                <div id="collapse1" class="collapse">
                    <ul class="dropdown-menu">
                        <li>
                            <a href="">
                                Thông tin tài khoản
                                <img src="" alt="">
                            </a>
                        </li>
                        <li>
                            <a href="">
                                Định danh ngân hàng
                                <img src="" alt="">
                            </a>
                        </li>
                        <li>
                            <a href="HistoryDeal">Lịch sử giao dịch</a>
                        </li>

                        <li>
                            <a href="">Cài đặt thông báo</a>
                        </li>

                        <li>
                            <a href="">Tra cứu hóa đơn điện tử</a>
                        </li>
                        <li>
                            <a href="">Bảo mật đăng nhập</a>
                        </li>
                    </ul>
                </div>
            </li>
            <li class="panel">
                <a data-toggle="collapse" data-parent="#accordion" href="#collapse2" class="collapsed">
                    <i class="icon_list_menu_left_admin icon_menu_left_3"></i>
                    <span>Sử dụng Ví</span>
                    <i class="icon_drop_list_menu_left_admin"></i>
                </a>
                <div id="collapse2" class="collapse">
                    <ul class="dropdown-menu">
                        <li>
                            <a href="">Nạp tiền</a>
                        </li>
                        <li>
                            <a href="">Rút tiền</a>
                        </li>
                        <li>
                            <a href="">Rút tiền tự động</a>
                        </li>
                        <li>
                            <a href="">Chuyển tiền</a>
                        </li>
                        <li>
                            <a href="">Gửi thông báo nạp tiền</a>
                        </li>
                    </ul>
                </div>
            </li>
            <li class="panel">
                <a data-toggle="collapse" data-parent="#accordion" href="#collapse3" class="collapsed">
                    <i class="icon_list_menu_left_admin icon_menu_left_4"></i>
                    <span>Tích hợp thanh tóan</span>
                    <i class="icon_drop_list_menu_left_admin"></i>
                </a>
                <div id="collapse3" class="collapse">
                    <ul class="dropdown-menu">
                        <li>
                            <a href="">Tíchch hợp website</a>
                        </li>
                        <li>
                            <a href="">Tích hợp mobile</a>
                        </li>
                        <li>
                            <a href="">Hệ thống hóa đơn</a>
                        </li>
                        <li>
                            <a href="">Tích;ch hợp QR Code sản phẩm</a>
                        </li>
                        <li>
                            <a href="">Tích hợp QR Code điểm bán</a>
                        </li>
                        <li style="">
                            <a href="">Quản lí profile</a>
                        </li>
                        <li style="">
                            <a href="">Quản lí tài khoản sale</a>
                        </li>
                    </ul>
                </div>
            </li>





            <li>
                <a href="">
                    <i class="icon_list_menu_left_admin icon_menu_left_6"></i>
                    <span>Tin tức</span>
                </a>
            </li>
            <li>
                <a href="">
                    <i class="icon_list_menu_left_admin icon_menu_left_7"></i>
                    <span>Hướng dẫn</span>
                </a>
            </li>
            <li>
                <a href="">
                    <i class="icon_list_menu_left_admin icon_menu_left_8"></i>
                    <span>Liên hệ</span>
                </a>
            </li>
            <li>
                <a href="" target="_blank">
                    <i class="icon_list_menu_left_admin icon_menu_left_10"></i>
                    <span>Góp ý</span>
                </a>
            </li>
            <li class="link_ngonngu_left_ud">
                <a data-toggle="collapse" data-parent="#accordion" href="#collapse6" class="collapsed">
                    <i class="icon_list_menu_left_admin icon_menu_left_9"></i>
                    <span>Change language</span>
                    <i class="icon_drop_list_menu_left_admin"></i>
                </a>
                <div id="collapse6" class="collapse">
                    <ul class="dropdown-menu">
                        <li><a onclick="utils.RedirectUriByLang('vi');" href="javascript:;">Tiếng Việt</a></li>
                        <li><a onclick="utils.RedirectUriByLang('en');" href="javascript:;">English</a></li>
                    </ul>
                </div>
            </li>
        </ul>
    </div>

    <div class="all_noidung_admin">



        <link href="https://vtcpay.vn/content/css/common.css" rel="stylesheet" type="text/css" />
        <link href="https://vtcpay.vn/Content/old_css/simple-sidebar.css" rel="stylesheet" />

        <div class="box_noidung_thongtin_admin">
            <div class="container">
                <div class="row">
                    <form action="CreatePost" method="post">
                        <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                            <div class="box_left_noidung_admin">
                                <h4 class="tieude_all_noidung_admin">Thông tin chủ tài khoản</h4>

                                <div class="form-group">
                                    <label>Họ và tên</label>
                                    <input id="fullname" class="form-control" type="text" value="" name="fullname" required>
                                </div>
                                <div class="form-group">
                                    <label>Địa chỉ liên hệ</label>
                                    <input id="address" class="form-control" type="text" value="" name="address" required>
                                </div>
                                <div class="form-group">
                                    <label>CMND/Hộ chiếu</label>
                                    <input maxlength="15" class="form-control" id="passport" type="number" value="" name="cmnd" required>
                                </div>
                                <div class="form-group">
                                    <label>Giới tính</label>
                                    <select id="gender" name="gender" class="form-control">
                                        <option value="1">Nam</option>
                                        <option value="2" selected="selected">Nữ</option>
                                    </select>
                                </div>
                                <div class="form-group">
                                    <label>Ngày sinh</label>
                                    <input id="dob" class="form-control" type="date" value="" name="birthday" required>
                                </div>

                                <button type="submit" class="btn_all_admin_ud">Cập nhật</button>

                            </div>
                        </div>
                    </form>

                    <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                        <h4 class="tieude_all_noidung_admin">Thông tin ví điện tử</h4> <!--Thông tin ví điện tử-->
                        <span class="text_tieude_small">Ảnh đại diện</span>
                        <ul class="list_all_thongtin_right">
                            <li>
                                <div class="box_thumb_admin"><img width="100" height="100" alt=""></div>
                                <div class="info_thumb_admin">
                                    Ảnh đại diện sẽ được thể hiện tại nút thanh toán của bạn.<em>Kích thước ảnh 300x300 pixels,ảnh không nặng quá 1Mb</em>
                                </div>
                            </li>
                            <li>

                            </li>
                        </ul>
                        <div class="clear"></div>
                        <div class="all_btn_thaydoi_thumb_admin"><a onclick="" href="javascript:;" class="btn_all_admin_ud">Thay đổi</a></div>

                        <div class="clear"></div>
                        <span class="text_tieude_small">Số ví điện tử</span>
                        <ul class="list_all_thongtin_right">
                            <li>0366729714</li>
                            <li></li>
                        </ul>
                        <div class="clear"></div>
                        <span class="text_tieude_small">Mật khẩu</span>
                        <ul class="list_all_thongtin_right">
                            <li>
                                **********
                            </li>
                            <li><a href="javascript:;" onclick="" class="btn_all_admin_ud">Thay đổi</a></li>
                        </ul>
                        <div class="clear"></div>
                        <span class="text_tieude_small">Loại tài khoản</span>
                        <ul class="list_all_thongtin_right">
                            <li>

                                Tài khoản cá nhân
                            </li>
                            <li></li>
                        </ul>

                        <div class="clear"></div>
                        <span class="text_tieude_small">Hình thức bảo mật</span>
                        <ul class="list_all_thongtin_right">
                            <li style="color: #75b21d;">
                                VoiceOTP, OTP SMS
                            </li>
                            <li><a href="" class="btn_all_admin_ud">Chi tiết</a></li>
                        </ul>

                        <div class="clear"></div>
                        <span class="text_tieude_small">Email</span>
                        <p style="color: red; font-style: italic; font-size: 13px; display: none" id="p_error_notify"></p>
                        <p style="color: green; font-style: italic; font-size: 13px; display: none" id="p_success_notify"></p>
                        <ul class="list_all_thongtin_right">
                            <li><input id="txtEmailUpdate" class="form-control" type="text" name="" value=""></li>
                            <li>
                                <a href="javascript:" onclick="" style="margin-left: 10px;" class="btn_all_admin_ud">Xác thực</a>
                                <a href="javascript:" onclick="" class="btn_all_admin_ud">Đổi email</a>

                            </li>
                        </ul>
                        <div class="clear"></div>
                        <span class="text_tieude_small">Trạng thái định danh</span>
                        <ul class="list_all_thongtin_right">
                            <li>
                                <span style="color: red;">
                                    Chưa định danh ngân hàng
                                </span>
                            </li>
                            <li>
                                <a href="" class="btn_all_admin_ud">Định danh</a>

                            </li>
                        </ul>
                        <div class="clear"></div>
                        <span class="text_tieude_small">Trạng thái xác thực CMND/ Thẻ CCCD</span>
                        <ul class="list_all_thongtin_right">
                            <li>
                                <span style="color: red;">
                                    Chưa xác thực
                                </span>
                            </li>
                            <li>
                                <a href="" class="btn_all_admin_ud">Xác thực</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>

        <script type="text/javascript" src="https://vtcpay.vn/content/js/views/account/AccountInfo.js?v=202101290945"></script>
        <script type="text/javascript" src="https://vtcpay.vn/content/js/views/account/changePass.js?v=202101290945"></script>
        <script type="text/javascript" src="https://vtcpay.vn/content/js/views/account/kyc.js?v=202101290945"></script>

    </div>

    <div id="divPopup"></div>

    <script type="text/javascript" src="https://vtcpay.vn/content/js/utils.js?v=202101290945"></script>
    <script type="text/javascript" src="https://vtcpay.vn/content/js/common.js?v=202101290945"></script>
    <script type="text/javascript" src="https://vtcpay.vn/content/js/views/account/utilites.js?v=202101290945"></script>
    <script type="text/javascript" src="https://vtcpay.vn/content/js/views/account/header.js?v=202101290945"></script>
    <script type="text/javascript" src="https://vtcpay.vn/content/js/views/account/login.js?v=202101290945"></script>
    <script type="text/javascript" src="https://vtcpay.vn/content/js/views/account/TransactionHistory.js?v=202101290945"></script>
    <script type="text/javascript" src="https://vtcpay.vn/content/js/views/account/ElectricInvoice.js?v=202101290945"></script>
    <script type="text/javascript" src="https://vtcpay.vn/content/js/views/account/PartnerConnectInfo.js?v=202101290945"></script>
    <script type="text/javascript" src="https://vtcpay.vn/content/js/views/Merchant/MerchantHistory.js?v=202101290945"></script>
    <script type="text/javascript" src="https://vtcpay.vn/content/js/views/integrate/integrated.js?v=202101290945"></script>
    <script type="text/javascript" src="https://vtcpay.vn/content/js/views/integrate/ManageProfile.js?v=202101290945"></script>
    <script type="text/javascript" src="https://vtcpay.vn/content/js/views/integrate/ManageSubAccount.js?v=202101290945"></script>
    <script type="text/javascript" src="https://vtcpay.vn/content/js/views/accountsecure/AccountSecure.js?v=202101290945"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script>
        $(document).ready(function () {
            var ngayHienTai = new Date().toISOString();
            $("#dob").change(function () {
                if ($('#dob').val() > ngayHienTai) {
                    alert("Sai ngày rồi bạn.");
                    $('#dob').val("");
                }
            });
            $("#passport").change(function () {
                var cmnd = $("#passport").val();
                if (cmnd.length != 9 && cmnd.length != 12) {
                    alert("Nhập lại đi bạn, sai định dạng rồi.");
                    $('#passport').val("");
                }
               
            });
        });
    </script>


</body>
</html>